* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  gap: 30px;
}

#grid-container {
  width: 320px;
  height: 320px;
  background-color: white;
  border: 3px solid #333;
  display: flex;
  flex-wrap: wrap;
}

.grid-square {
  width: calc(100% / 16);
  height: calc(100% / 16);
  border: 1px solid #dddd;
  box-sizing: border-box;
  user-select: none;
}

/* slider-container */

/* Container alignment */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
  padding: 30px;
  font-family: Arial, sans-serif;
}

/* Label text styling */
.slider-value {
  font-size: 15px;
  color: #333333;
  margin-bottom: 10px;
}

/* Base slider track styling */
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 130px;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 6px;
  outline: none;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333333;
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #333333;
  cursor: pointer;
}

.side-Content-Container,
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "monospace";
  width: 120px;
  height: 38px;
  border-radius: 9px;
}

.menu {
  gap: 12px;
}

.side-Content-Container,
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#pickerContainer {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 12px;

  position: absolute;
  right: 135px;
  top: -10px;
  z-index: 100;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: 0 1px 0px #000000;

  width: 180px;
  box-sizing: border-box;
}

/* HOVER EFFECT*/

button {
  font-family: "monospace";
  width: 120px;
  height: 38px;
  border-radius: 9px;

  transition:
    transform 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
}

/* Hover growth effect */
button:hover {
  background-color: #f0f0f0;
  cursor: pointer;

  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

.circle-Color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid #333333;
  display: inline-block;
}

button.color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main-Content {
  display: flex;
  margin-bottom: 65px;
  margin-top: 15px;
}

.title {
  font-size: 45px;
  padding-top: 12px;
}
